.button{
    font-family: inherit;
    border: none;
    width: 150px;
    height: 50px;
    font-size: large;
  }
  .allButton{
      display: flex;
      width: 25%;
      justify-content: space-between;
  }
.button:hover{
    background-color: #b9a06f;
    color: white;
  }
.aactive{
    background-color: #b9a06f;
    color: white;
  }
  @media only screen and (max-width:400px) {
    .button{
      font-size: small;
      font-weight: 600;
    }
    .allButton{
      width: 100% !important;
    }
  }

.details-content{
  font-size: 15px;
  color: #535353;
  line-height: 1.5;
}