#product_area{
	position:relative;
	padding-top: 0;
}

.title{
  margin-bottom: 5%;
  margin-top: 5%;
}
.mix{
	display: none;
}
.product_item .mix{
	display: none;
}
.product_filter {
	margin-bottom: 10px;
}
.product_filter ul {
	margin: 0px 0 40px;
	padding: 0;
	list-style: none;
}
.product_filter ul li {
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
	padding: 12px 22px;
	font-size: 13px;
	border: 1px solid transparent;
	transition: .5s;
	letter-spacing: 1px;
	border-radius: 20px;
	margin:0px;
	color:#777;
	line-height: 1;
}
.product_filter .filter.active {
	color: #33d286;
	border-color: #33d286;
}

.single_product{
    text-align: center;
    overflow: hidden;
	margin-bottom: 30px;	
	border: 1px solid rgba(0,0,0,0.02);
	padding-bottom: 20px;
	background: #fff;
	transition: .5s;
	height: 470px;
	@media screen and (max-width:900px) {
		height: 300px;
	}
}
.single_product:hover{
	box-shadow: 5px 5px 25px rgba(0,0,0,0.03);
}
.product_image{
	overflow: hidden;
	position: relative;
	height: 300px;
	@media screen and (max-width:900px) {
		height: 150px;
	}
}
.product_image img{
    width: 100%;
    height: 100%;
    transition: all 1.5s ease 0s;
	cursor: pointer;
	
}

.single_product:hover img{
    transform: scale(1.2);
}
.single_product .box-content{
    width: 100%;
    padding: 17px 10px;
    background: #fff;
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: 1;
    transition: all 0.6s ease 0s;
	overflow: hidden;
	opacity: 0;
	background: rgba(51, 210, 134, .9);
	
}
.single_product:hover .box-content{
    bottom: 0;
	opacity: 1;
}
.box-content a {
	display: inline-block;
	color: #333;
	font-size: 14px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 0 7px;
	transition:.5s;
	cursor: pointer;
}
.box-content a:hover {
	color: #33d286;
	border-color: #fff;
}
product-sub-title, .price, .sizes, .colors, .stock, .product_btm_text, .product_text {
	font-size: 20px;
	font-family: raleway;
	color: rgb(83, 83, 83);
	font-weight: 300;
	
  }


.product_text{
	float: left;
	width: 100%;
	padding: 1rem;
	
	p{
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-transform: none !important;
	}

	@media screen and (max-width: 600px) {
		display: flex !important;
		flex-direction: column !important;
		align-items: flex-start !important;
		padding: 0rem !important;
		
		p{
			max-width: 150px;
			margin-bottom: 0;
			font-size: 12px;
		}
	}
}
.product_btm_text p {
	color: #8E8E8E;
	text-transform: uppercase;
	font-size: 13px;
	
}
.product_btm_text h4 {
	text-transform: capitalize;
	margin-top: 17px;
	margin-bottom: 6px;
	text-align: left;
	font-size: 17px;
	
}
.product_btm_text h4,
.product_btm_text h4 a{
	color: black !important;
	cursor: pointer;
}

.new_badge {
	display: inline-block;
	background: #33d286;
	color: #fff;
	padding: 3px 12px;
	font-size: 14px;
	position: absolute;
	top: 15px;
	right: 15px;
	border-radius: 2px;
}
.single_product {
	color: #33d286;
	font-size: 16px;
}

.price, .sizes, .colors, .stock {
	font-size: 1.6rem !important;
	font-weight: 700 !important;
	float: left;
	color: #222 !important;
	font-family: montserrat,sans-serif;
	
	
  }
  .discount{
	font-size: 1.5rem !important;
	font-weight: 400 !important;
	float: left;
	padding-left: 1rem;
	color: rgb(161, 156, 156) !important;
	font-family: montserrat,sans-serif;
	@media screen and (max-width: 600px) {
		padding-left: 0;
		display: flex;
		flex-direction: row;
		font-size: 1.2rem !important;
		span{
			margin-left: 3px;
		}
	}
}
.no-padding{
	padding: 0;
}
.p_rating{
	color: #fec42d;
	cursor: pointer;
}

.container-fluid {
    padding-right: 5% !important;
    padding-left: 5% !important;
    margin-right: auto;
    margin-left: auto;
	@media screen and (max-width: 600px) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
.heading{
	text-align: center;
    margin-bottom: 8%;
    font-size: 35px;
    text-transform: capitalize !important;
	font-family: 'Raleway', sans-serif !important;
    // font-family:  "Montserrat", sans-serif !important;
    color: #5d5d5d;
    font-weight: normal;
    letter-spacing: -0.5px;
}

.cartProducts{
	height: 320px;
	overflow-y: auto;
	@media screen and (max-width: 600px) {
		height: 300px;
	}
  }

  .total-cost{
	  padding: 2px 0px;
	  border-bottom: 2px solid #dfdfdf;
  }

  .price{
	@media screen and (max-width: 600px) {
		margin-bottom: 0 !important;
	}
  }

  .sale{
	@media screen and (max-width: 600px) {
		padding-left: 4px !important;
		padding-right: 4px !important;
	}
  }