
/*****************globals*************/
body {
  font-family: 'Montserrat', sans-serif;;
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  height: 470px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card2 {
  margin-top: 50px;
  // background: #eee;
  padding: 3em;
  line-height: 1.5em; 
  @media screen and (max-width:600px) {
    margin-top: 0px !important;
    padding: 1em 3em;
  }
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top:1rem;
  
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
  @media screen and (max-width:400px) {
    padding-top: 0rem;
  } 
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title , product-select{
  // text-transform: UPPERCASE;
  // font-weight: bold;  
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(83, 83, 83);
  font-weight: 300;
}
.product-select{
  font-size: 12px !important;
  width: 80% !important;
}
.product-sub-title, .price, .sizes, .colors, .stock, .product-sku, .product-order, .product-button, .product-order-title  {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(83, 83, 83);
  font-weight: 300;
}

.sku{
  color: #d48424;
}

.product-order-title{
  font-size: 25px !important;
  font-weight: bold !important;
}

.product-order{
  font-size: 15px !important;
}

.product-button, .product-button-primary, .product-button-close{
  font-size: 15px !important;
  color: white;
  float: right;
}

.product-button-primary{
  background-color: lightskyblue !important;
  color: #000 !important;
 
}
.product-button-close{
    top: 4%;
    left: 90%;
    position: absolute !important;
  }
.product-sku{
  font-weight: bold;
}
.quantity {
  font-size: 15px !important;
  font-weight: bold;
}

.price, .sizes, .colors, .stock {
  font-size: 25px;
}

.stock{
  font-size: 15px;
  margin-top: 2%;
}

.checked, .price span {
  color: black;

  font-size: 25px;
  &.strike{
    text-decoration: line-through;
  }
}
.attribute{
  margin-bottom: 2%;
}

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

    .add-to-cart, .like {
      background: linear-gradient(to bottom, #000000, #434343);
      margin-top: 2%;
      padding: 1.2em 2.5em !important;
      border: none !important;
      text-transform: UPPERCASE !important;
      font-weight: bold !important;
      color: #fff !important;
      -webkit-transition: background .3s ease;
              transition: background .3s ease; }
      .add-to-cart:hover, .like:hover {
        background: linear-gradient(to bottom, #434343, #000000);
        color: #fff;
       }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

// carousel

#carousel-example-generic {
  margin: 20px auto;
  width: 400px;
}

#carousel-custom {
  margin: 20px auto;
  width: 400px;
}
#carousel-custom .carousel-indicators {
  margin: 10px 0 0;
  overflow: auto;
  position: static;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}
#carousel-custom .carousel-indicators li {
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  height: auto;
  
  width: auto;
}
#carousel-custom .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
  opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
  opacity: 0.75;
}
#carousel-custom .carousel-outer {
  position: relative;
}

.invalid-feedback{
  display: revert !important;
}


.desktop-services{
  padding-inline-start: 0px;
}

.service1{
  font-size: 30px;
}

.icon{
  font-size: larger !important;
}

.service-icon{
  color: #ffec00;
  @media screen and (max-width:400px) {
    width: 40px;
  }
}
.service-content{
  padding-bottom: 3%;
  @media screen and (max-width:400px) {
    display: flex;
    padding-bottom: 1%;
  }
}
.service-content p{
  font-size: 15px;
  color: rgb(83, 83, 83);
}
.service-content h4{
  font-size: 18px;
  padding-top: 2%;
  font-weight: 600;
  @media screen and (max-width:400px) {
    font-size: 15px;
  }
}

.service-info{
  margin-left: 10px;
}


.desktop-services {
  padding-bottom: 5%;
  padding-top: 1%;
  font-size: 0px;
}
.allInputField{
  margin: 1rem 0;
}
.inputField{
  width: 80%;
  margin-bottom: 1rem !important;
}
.buttonBox{
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 80%; 
  padding: 2rem 0;
  font-weight: 600;
}

.delievery-time{
  margin-top: 1rem;
  font-weight: 600;
}

.check{
  width: 45%;
}

.buttons{
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  
}


@media screen and (max-width:600px) {
  .buttonBox{
    flex-direction: column;
    align-items: flex-start;
  }
  .check{
    margin-bottom: 2rem;
  }
  .check{
    width: 80%;
  }
  .shortimagee{
    width: 80% !important;
  }

  .mobile-hidden{
    display: none !important;
  }

  .productDetails{
    padding: 0rem 2rem !important;
  }

  .ml-10{
    margin-left: 20px;
  }
  
}
.addbutton1{
  background-color: black;
  color: white;
  font-size: medium;
  
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.5);

  @media screen and (max-width:600px) {
    padding: 2rem;
  }
}
.addbutton2{
  background-color: #FFEC00;
  color: black;
  font-size: medium;

  padding: 1rem 2rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.5);

  @media screen and (max-width:600px) {
    padding: 2rem;
  }

}
#carousel-custom .carousel-indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#carousel-custom .carousel-indicators li {
  height: 100px;
  width: 100px;
}

#carousel-custom .carousel-indicators li img {
  width: 100px !important;
  height: 100px;
}


@media screen and (max-width:900px) {
  .col-sm-6{
    width: 50% !important;
  }
}




